.timeBar{
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0 0.5em;
    height: 0.5em;
    background-color: black;
    border-radius: 1em;
    position: absolute;
}
.pomodoro {
    position: relative;
    z-index: 1;
    margin: 0 0.5em;
}